/*@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* font-family: "Lato", sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --azul-oscuro: #091057;
    --azul-claro: #024CAA;
    --naranja-color: #EC8305;
    --gris-color: #DBD3D3;
}

html{
    font-family: "Lato", sans-serif;
    /*font-size: 62.5%; 1rem = 10px*/
}

/* Header */
header{
    background-color: var(--azul-oscuro);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

.logo{
    margin: 10px;
    width: 100px;
}

.navbar{
    width: 100%;
}

.navbar a{
    text-decoration: none;
    color: var(--gris-color);
    padding: 20px;
    font-weight: bold;
}

.navbar ul{ 
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    align-items: center;
    margin-right: 10px;
}

/* Main */
.banner{
    background-image: url(../medios/banner.jpg);
    background-size: contain;
    padding: 150px 0;
}

.banner p{
    color: var(--naranja-color);
    font-weight: bold;
}

.opaco{
    background-color: #0009;
}

h1{
    text-align: center;
    color: var(--naranja-color);
    font-size: 2rem;
    font-weight: 900;
    font-family: sans-serif;
}

h2{
    text-align: left;
    color: var(--azul-claro);
    font-size: 1.5rem;
    font-weight: 700;
    font-family: sans-serif;
}

h3{
    text-align: left;
    color: var(--azul-claro);
    font-size: 1rem;
    font-family: sans-serif;
}

.section-p{
    text-align: left;
    color: var(--azul-claro);
    font-size: 1rem;
}

.img-medios{
    height: 200px;
}

.formulario{
    color: var(--azul-claro);
    font-size: 1rem;
}

/* Footer */
footer{
    height: 50px;
    background-color: var(--azul-oscuro);
    padding-top: 20px;
    margin-top: 20px;
}

.redes{
    width: 30px;
 }

 .flotante{
    position: fixed;
    bottom: 70px;
    right: 20px;
 }